.advantages__inner {
  padding: 11rem 4rem 0 11rem;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 10rem;
    left: 0;

    width: 32.6rem;
    height: 32.6rem;
    background-image: linear-gradient(
      to right,
      var(--dark-green-gradient),
      var(--light-green-gradient)
    );
    filter: blur(17.7rem);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -5rem;
    right: 0;

    width: 26.6rem;
    height: 22.9rem;
    background-color: var(--text-light);
    opacity: 0.3;
    filter: blur(12.4rem);
    z-index: -1;
  }
}

.advantages {
  padding: 5.1rem 7.8rem 3.8rem;

  display: flex;
  justify-content: center;
  gap: 12.8rem;

  background-image: linear-gradient(to right, var(--light), #e5e5e5, #fbfbfb);
  border-radius: 4.6rem;

  position: relative;
}

.advantages__item {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages__img {
  display: block;
  max-width: 100%;
  height: auto;

  position: relative;
  z-index: 2;
}

.advantages__img-box {
  margin-bottom: -2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 14.8rem;
    height: 14.8rem;

    background-image: linear-gradient(
      to right,
      var(--light-green),
      var(--dark-green)
    );

    border-radius: 50%;
  }
}
