.btn {
  font-size: 2.4rem;
  /* border-radius: 8rem; */
}

.btn_gradient {
  padding: 0.83em 3.29em;

  border-radius: 3.33em;

  /* font-size: 2.4rem; */
  font-size: clamp(1.6rem, 1.0667vw + 1.3867rem, 2.4rem);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: var(--latter-spacing-s);
  color: var(--light);

  background-image: linear-gradient(
    to right,
    var(--light-green),
    var(--dark-green)
  );
}

.btn_gradient_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  padding: 0.83em 3.29em;

  border-radius: 3.33em;

  /* font-size: 2.4rem; */
  font-size: clamp(1.6rem, 1.0667vw + 1.3867rem, 2.4rem);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: var(--latter-spacing-s);
  color: var(--light);

  background-image: linear-gradient(
    to right,
    var(--light-green),
    var(--dark-green)
  );
}

.btn_slider {
  /* padding: 0.82em 2.23em; */
  padding: 1.4rem 3.8rem;

  /* border-radius: 3.52em; */
  border-radius: 6rem;

  /* font-size: 1.7rem; */
  font-size: clamp(1.2rem, 0.6667vw + 1.0667rem, 1.7rem);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: var(--latter-spacing-s);
  color: var(--light);

  background-image: linear-gradient(
    to right,
    var(--light-green),
    var(--dark-green)
  );
}

.btn_dark {
  /* padding: 2rem 5.4rem; */
  padding: 0.83em 2.25em;

  position: relative;

  font-size: clamp(1.6rem, 1.0667vw + 1.3867rem, 2.4rem);
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-light);
  letter-spacing: var(--latter-spacing-m);
  /* конструкція яка дозволяє робити градієнт border, без використання after before */
  background:
    linear-gradient(var(--dark), var(--dark)) padding-box,
    var(--border-gradient) border-box;
  border: 1px solid transparent;
  border-radius: 3.33em;
  /* border-radius: 8rem; */
}

.btn_arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8.4rem;
  height: 8.4rem;
  background:
    linear-gradient(var(--dark), var(--dark)) padding-box,
    var(--border-slider-primary) border-box;
  border: 1px solid transparent;
  border-radius: 3rem;
}
