.header {
  z-index: 100;
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 9.4rem;

  padding: 4.8rem 0;

  position: relative;
}

.logo {
  /* font-size: 3.7rem; */
  font-size: clamp(2.2rem, 2vw + 1.8rem, 3.7rem);
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: var(--letter-spacing-m);
}

@media (max-width: 1024px) {
  .header__inner {
    justify-content: space-between;
  }
}
