.hero {
  padding-bottom: 5rem;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3.2rem;
}

/* decoration blur*/
.hero__info {
  display: flex;
  flex-direction: column;
  gap: 5.4rem;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 32.6rem;
    height: 32.6rem;
    background-image: linear-gradient(
      to right,
      var(--dark-green-gradient),
      var(--light-green-gradient)
    );
    filter: blur(17.5rem);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 4rem;
    right: 0;

    width: 28.9rem;
    height: 28.9rem;
    background-color: var(--light);
    opacity: 0.15;
    filter: blur(15.6rem);
    z-index: -1;
  }
}

.hero__info-text {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: var(--letter-spacing-s);
  color: var(--text-light);
}

.hero__btn-inner {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero__statistics {
  display: flex;
  gap: 5.6rem;
}

.hero__statistics-item-inner {
  min-width: 12.6rem;
}

.hero__statistics-item-title {
  font-size: 6.2rem;
  line-height: 1.1;
  letter-spacing: var(--letter-spacing-m);
  color: var(--light);
}

.hero__image {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 22.9rem;
    height: 22.9rem;
    background-color: var(--text-light);
    opacity: 0.3;
    filter: blur(12.4rem);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    width: 32.4rem;
    height: 32.4rem;
    background-image: linear-gradient(
      to right,
      var(--dark-green-gradient),
      var(--light-green-gradient)
    );
    filter: blur(17.4rem);
    z-index: -1;
  }
}

.hero__image-item {
  display: block;
  max-width: 100%;
  height: auto;
}

/* позиція і стиль картинки 45% */
.hero__image-icon {
  position: absolute;
  top: -2rem;
  right: 2rem;
  width: 20.4rem;
  height: 20.4rem;

  background-image: url(/src/assets/images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image-icon-text {
  /* отступы  для центрирования */
  margin: 5.2rem 5.2rem 0;

  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: var(--letter-spacing-m);
  color: var(--light);

  transform: rotate(-18deg);
}

/*  */
