.move-up {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 10rem;
  bottom: 20rem;

  width: 8.4rem;
  height: 8.4rem;
  background:
    linear-gradient(var(--dark), var(--dark)) padding-box,
    var(--border-slider-primary-up) border-box;
  border: 1px solid transparent;
  border-radius: 3rem;

  transform: rotate(-90deg);
}
