@import 'reset.css';
@import 'helpers.css';
@import 'btn.css';
@import 'header.css';
@import 'hero.css';
@import 'advantages.css';
@import 'label.css';

:root {
  --dark: #121517;
  --text-light: #d9d9d9;
  --border-light: #dadada;
  --light: #fff;
  --dark-green: #237249;
  --light-green: #35c66b;
  --letter-spacing-s: -2%;
  --letter-spacing-m: -3%;
  --border-gradient: linear-gradient(
    to bottom right,
    var(--border-light),
    var(--dark)
  );
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;

  background-color: var(--dark);
}

.container {
  padding: 0 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
}
